<!-- views/partials/footer.ejs -->
<script langrage="text/javascript">
    $(document).ready(function(){
        $("span#year").html(new Date().getFullYear());
    });
</script>
<div id="footerwrap">
    
        <div class="container">
            <div class="row">
                <div class="col-sm-12 col-lg-12">
                <p><img src="/images/lucas-resolve-logo.png" alt="" style="
                    width: 100px;
                    opacity: 0.35;
                "></p>
                <p>Lucas Resolve - Copyright &copy; <span id="year"></span></p>
                </div>
    
            </div><!-- /row -->
        </div><!-- /container -->

</div> <!-- /footerwrap -->
