<!-- views/partials/header.ejs -->

<!-- NAVIGATION MENU -->
<div class="navbar-nav navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="/index"><img src="/images/logo-pequena.png" alt=""></a>
        </div> 
        <div class="navbar-collapse collapse">
            <ul class="nav navbar-nav">
                <% if (page_name !== 'login') { %>
                    <li <% if (page_name === 'index') { %>class="active" <% } %> ><a href="/index"><i class="icon-home icon-white"></i> Dashboard</a></li>
                    <li <% if (page_name === 'clients') { %>class="active" <% } %> ><a href="/clients"><i class="icon-th icon-white"></i> Clientes</a></li>
                    <li <% if (page_name === 'unities') { %>class="active" <% } %> ><a href="/unities"><i class="icon-th icon-white"></i> Unidades</a></li>
                    <li <% if (page_name === 'cep') { %>class="active" <% } %> ><a href="/cep"><i class="icon-th icon-white"></i> CEP</a></li>
                    <li <% if (page_name === 'import') { %>class="active" <% } %> ><a href="/import"><i class="icon-th icon-white"></i> Importar</a></li>
                    <li><a href="/logout"><i class="icon-lock icon-white"></i> Logout</a></li>
                <% } %>
            </ul>
        </div><!--/.nav-collapse -->
    </div>
</div>
