<!-- views/partials/head.ejs -->
<meta charset="utf-8">
<title>JadLog Mailer - Automatizador de e-mails</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<meta name="description" content="">
<meta name="author" content="Lucas Correa">

<link rel="stylesheet" type="text/css" href="/bootstrap/css/bootstrap.min.css" />
<!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous"> -->
<link rel="icon" type="image/png" href="/images/jadlog-favicon.png" />

<link href="/stylesheets/main.css" rel="stylesheet">
<link href="/stylesheets/font-style.css" rel="stylesheet">
<link href="/stylesheets/flexslider.css" rel="stylesheet">
<link href="/stylesheets/register.css" rel="stylesheet">

<script type="text/javascript" src="/javascripts/jquery-3.5.1.min.js"></script>    
<script type="text/javascript" src="/bootstrap/js/bootstrap.min.js"></script>

<!-- You can add more layouts if you want -->
<script type="text/javascript" src="/javascripts/noty/themes/default.js"></script>
<script src="/javascripts/jquery.flexslider.js" type="text/javascript"></script>

<!-- NOTY JAVASCRIPT -->
<script type="text/javascript" src="/javascripts/noty/jquery.noty.js"></script>
<script type="text/javascript" src="/javascripts/noty/layouts/top.js"></script>
<script type="text/javascript" src="/javascripts/noty/layouts/topLeft.js"></script>
<script type="text/javascript" src="/javascripts/noty/layouts/topRight.js"></script>
<script type="text/javascript" src="/javascripts/noty/layouts/topCenter.js"></script>

<!-- You can add more layouts if you want -->
<script type="text/javascript" src="/javascripts/noty/themes/default.js"></script>
<script type="text/javascript" src="/javascripts/admin.js"></script>

<style type="text/css">
  @media (min-width: 768px) and (max-width: 991px) {
    .container {
        width: 750px;
        zoom: 1;
    }
    main.container > .row {
      display: grid;
    }
    main.container .row div {
      width: unset;
    }
  }
  @media (min-width: 992px) {
    .container {
        min-width: 1330px;
        zoom: 0.8;
    }
  }
  @media (min-width: 1200px) {
    .container {
      width: 1310px;
      zoom: 1;
    }
  }
  
  body {
    padding-top: 60px;
  }
  .navbar-brand>img {
      height: 20px;
  }
  table.table tr td {
    font-size: 12px;
  }
  main.container {
    padding-top: 2em;
    padding-bottom: 2em;
  }
</style>

<!-- Le HTML5 shim, for IE6-8 support of HTML5 elements -->
<!--[if lt IE 9]>
  <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
<![endif]-->

<!-- Google Fonts call. Font Used Open Sans & Raleway -->
<link href="http://fonts.googleapis.com/css?family=Raleway:400,300" rel="stylesheet" type="text/css">
<link href="http://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet" type="text/css">
