<!doctype html>
<html lang="pt">
	<head>
		<% include ../../partials/head %>

		<style>
			@media (min-width: 1500px) {
				.container {
					width: 1500px;
					zoom: 1;
				}
			}
		</style>
	</head>
	<body>
  
	<header>
		<% include ../../partials/header %>
	  
		<script>
			$(document).ready(function(){
				$("#inlineCheckbox1").prop('checked', false);
				$("#inlineCheckbox1").prop('disabled', true);
				$("#inlineCheckbox2").prop('checked', false);
				
				$("#inlineCheckbox2").on('click', function(){
					if ($(this).prop('checked')) $("#inlineCheckbox1").prop('disabled', false);
					else {
						$("#inlineCheckbox1").prop('checked', false);
						$("#inlineCheckbox1").prop('disabled', true);
					}
				})
			});
		</script>
    </header>

    <main class="container">

        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="border-radius: 4px;">
        		<div id="register-wraper" >
                    <div class="cont2">
                        <h2>Editar cliente</h2>
                    </div>
                    <br>
                    <div class="row" style="max-height: 500px;overflow: auto;width: 100%;">
                        <div class="col-lg-12">
                            <div class="cont3">
                                <form id="register-form" class="form" action="/clients" method="post" enctype="multipart/form-data">
                                    <legend>Atualizar clientes</legend>
                                
                                    <div class="body form-group">
                                        <!-- example list -->
                                        <label>Nome</label><br>
                                        <input type="text" name="name" id="name" value="<%= client.name %>">
                                        <label>CNPJ</label><br>
                                        <input type="text" name="cnpj" id="cnpj" value="<%= client.cnpj %>">
                                        <label>E-mail</label><br>
                                        <input type="text" name="email" id="email" value="<%= client.email %>">
                                        <label>Token</label><br>
                                        <input type="text" name="token" id="token" value="<%= client.token %>">
                                        <br>
                                    </div>
                                
                                    <div class="footer">
                                        <button type="submit" class="btn btn-success">Atualizar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /inner row -->
                </div>
<%= client.name %>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </main>

	<footer>

    <% include ../../partials/footer %>
    </footer>

    </body>
</html>