<!doctype html>
<html lang="pt">
  <head>
  <% include ../../partials/head %>
  
    <style>
      .block-unit {
        -webkit-border-radius: 15px;
        -moz-border-radius: 15px;
        -ms-border-radius: 15px;
        -o-border-radius: 15px;
        border-radius: 15px;
        -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        -moz-box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        box-shadow: 0 0 8px rgba(0, 0, 0, 0.4);
        text-align: center;
        padding: 25px;
        max-width: 600px;
        margin: 25px auto 70px;
      }
    </style>
  </head>
  <body>
  
    <header>
      <% include ../../partials/header %>
    </header>

    <main class="container">

      <div class="row">
        <div class="col-lg-offset-4 col-lg-4">
          <div class="block-unit" >
            <img src="images/logo-pequena.png" alt="" >
            <br>
            <br>
            <form action="/login" method="POST">
              <fieldset>
                <p>
                  <input type="text" id="login" class="fadeIn second" name="username" placeholder="login">
                  <input type="password" id="password" class="fadeIn third" name="password" placeholder="password">
                </p>
                <input class="submit btn-success btn btn-large" type="submit" value="Login">
              </fieldset>
            </form>
            <% if(message) { %>
              <p>
                <label style="color:Red"><%= message %></label>
              </p>
            <%}%>
          </div>
        </div>
      </div>

    </main>

	<footer>

    <% include ../../partials/footer %>
    </footer>

    </body>
</html>