<!doctype html>
<html lang="pt">
	<head>
		<% include ../../partials/head %>

		<style>
			@media (min-width: 1500px) {
				.container {
					width: 1500px;
					zoom: 1;
				}
			}
		</style>
	</head>
	<body>
  
	<header>
		<% include ../../partials/header %>
	  
		<script>
			$(document).ready(function(){
				$("#inlineCheckbox1").prop('checked', false);
				$("#inlineCheckbox1").prop('disabled', true);
				$("#inlineCheckbox2").prop('checked', false);
				
				$("#inlineCheckbox2").on('click', function(){
					if ($(this).prop('checked')) $("#inlineCheckbox1").prop('disabled', false);
					else {
						$("#inlineCheckbox1").prop('checked', false);
						$("#inlineCheckbox1").prop('disabled', true);
					}
				})
			});
		</script>
    </header>

    <main class="container">
		<div class="row">
            <div class="col-lg-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cliente</li>
                    </ol>
                </nav>
            </div>
		</div>
		
		<% if(locals.status_result) { %>
			<div class="row">
				<div class="col-lg-4">
					<div class="alert alert-info" role="alert">
						<% if(status_result == 1) { %>
							<label style="color:green"><ok><%= message %></ok></label>
						<% } else if (status_result == 2) { %>
							<label style="color:red"><bad><%= message %></bad></label>
						<% } %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		<% } %>

        <div class="row">
        	<div class="col-lg-12" style="border-radius: 4px;">
        		<div class="register-info-wraper">
        			<div id="register-info">
        				<div class="cont2">
							<h2>Lista de clientes cadastrados</h2>
						</div>
						<br>
						
						<div class="row">
							<div class="col-lg-4">
								<div class="cont3">
									<a href="/clients/create" title="Cadastrar novo cliente">Cadastrar</a>
								</div>
							</div>
						</div>
        				<div class="row" style="max-height: 500px;overflow: auto;width: 100%;">
        					<div class="col-lg-12">
        						<div class="cont3">
        							<table class="table ">
										<thead>
											<tr>
												<th>Nome</th>
												<th>CNPJ</th>
												<th>E-mail</th>
												<th>Token</th>
												<th>Ação</th>
											</tr>
										</thead>
										<tbody>
											<% for (var i=0; i<clients.length; i++) { %>
												<tr>
													<td><%= clients[i].name %></td>
													<td><%= clients[i].cnpj %></td>
													<td><span style="line-break: normal;max-width: 400px;display: inline-block;"><%= clients[i].email %></span></td>
													<td>
														<% if  (clients[i].token !== undefined && clients[i].token != null) { %>
															<div class="tt">
																<%= clients[i].token.substring(0,10) %>
																 [...] 
																<%= clients[i].token.substring(clients[i].token.length -10) %>
																<span class="ttText"><%= clients[i].token %></span>
															</div>
														<% } %>
													</td>
													<td>
														<a href="clients/<%= clients[i]._id %>/edit" title="Editar o cliente <%= clients[i].name %>">Editar</a> | 
														<a href="#" id="<%= clients[i]._id %>" class="remove" title="Excluir o cliente <%= clients[i].name %>">Excluir</a>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
        						</div>
        					</div>
						</div><!-- /inner row -->
						<br>
						<hr>
						<br>
						<!-- 
						<div class="cont2">
							<h2>Exportar lista em Excel</h2>
						</div>
						<div class="info-user2">
							<a href="files/lista_clientes.xls" target="_blank">
								<span aria-hidden="true" class="li_clip fs1"></span> Exportar
							</a>
						</div> -->
        			</div>
        		</div>

        	</div>
        </div>

		<div class="row">
        	<div class="col-sm-4 col-lg-4"></div>
        	<div class="col-sm-4 col-lg-4">
        		<div id="register-wraper" >
					<form id="register-form" class="form" action="/clients" method="post" enctype="multipart/form-data">
        		        <legend>Atualizar clientes</legend>
        		    
        		        <div class="body form-group">
        		        	<!-- example list -->
        		        	<label>Planilha de exemplo</label><br>
							<a href="files/exemplo_lista_clientes.xls" target="_blank">Baixar planilha de exemplo</a>
							<br>
							<hr>
        		        	<!-- clients list -->
							<label for="clientslist">Lista de clientes</label>
							<input type="file" class="form-control-file" name="clientslist" id="clientslist">
							<br>
        		        </div>
        		    
        		        <div class="footer">
        		            <label class="checkbox inline">
								<input type="checkbox" name="chk_cleanAll" id="inlineCheckbox2" > Limpar lista de clientes antiga 
							</label>
							<label class="checkbox inline">
								<input type="checkbox" name="chk_ack" id="inlineCheckbox1" > Estou ciente que a remoção de clientes antigos acarreterá na perda de vínculo com as remessas pendentes
							</label>
        		            <button type="submit" class="btn btn-success">Atualizar</button>
        		        </div>
					</form>
        		</div>
			</div>
			<div class="col-sm-4 col-lg-4"></div>
        </div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="alertaModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="alertaModal">Aviso</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Tem certeza que deseja excluir este cliente?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="doit" data-target="#" >Excluir</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>

    </main>

	<footer>

    <% include ../../partials/footer %>
    </footer>

	</body>
	<script>
		$(document).ready(function(){
			$(".remove").on('click', function(){
				let id = this.id;
				$('.modal #doit').click(function() {
					window.location.replace("/clients/"+ id +"/remove");
				});
				$('.modal').modal();
			})
		});
	</script>
</html>