<!doctype html>
<html lang="pt">
	<head>
		<% include ../../partials/head %>

		<style>
			@media (min-width: 1500px) {
				.container {
					width: 1500px;
					zoom: 1;
				}
            }
            input.error {
                border: 1px solid red;
            }
		</style>
	</head>
	<body>
  
	<header>
		<% include ../../partials/header %>
	  
		<script>
			$(document).ready(function(){
				$("#inlineCheckbox1").prop('checked', false);
				$("#inlineCheckbox1").prop('disabled', true);
				$("#inlineCheckbox2").prop('checked', false);
				
				$("#inlineCheckbox2").on('click', function(){
					if ($(this).prop('checked')) $("#inlineCheckbox1").prop('disabled', false);
					else {
						$("#inlineCheckbox1").prop('checked', false);
						$("#inlineCheckbox1").prop('disabled', true);
					}
				})
			});
		</script>
    </header>
    
    <main class="container">
        
        <div class="row">
            <div class="col-lg-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/unities">Unidades</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cadastrar Unidade</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="border-radius: 4px;">
        		<div id="register-wraper" >
                    <div class="cont2">
                        <h2>Cadastrar</h2>
                    </div>
                    <br>
                    <div class="row" style="max-height: 500px;overflow: auto;width: 100%;">
                        <div class="col-lg-12">
                            <div class="cont3">
                                <form id="register-form" class="form" action="/unities/create" method="post" enctype="multipart/form-data">
                                    <legend>Nova Unidade</legend>
                                
                                    <div class="body form-group">
                                        <!-- example list -->
                                        <label for="name">Nome</label><br>
                                        <input type="text" name="name" id="name" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" value="">
                                        <label for="cnpj">CNPJ</label><br>
                                        <input type="text" name="cnpj" id="cnpj" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" value="">
                                        <label for="email">E-mail</label><br>
                                        <input type="text" name="email" id="email" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" value="">
                                        <br>
                                    </div>
                                
                                    <div class="footer">
                                        <button type="submit" class="btn btn-success">Cadastrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /inner row -->
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </main>

	<footer>

    <% include ../../partials/footer %>
    </footer>

    </body>
    <script src="/javascripts/jquery.mask.js" ></script>
    <script>
        $(document).ready(function(){
            $('#cnpj').mask('00.000.000/0000-00', {reverse: true});
            $('#email').mask("A", {
                translation: {
                    "A": { pattern: /[\w@\-.+]/, recursive: true }
                }
            });
            $(".form").submit(function(e){
                if ($("#name").val() == "") $("#name").addClass("error"); else $("#name").removeClass("error");
                if ($("#cnpj").val() == "") $("#cnpj").addClass("error"); else $("#cnpj").removeClass("error");
                if ($("#email").val() == "") $("#email").addClass("error"); else $("#email").removeClass("error");
                
                if (!validate()) {
                    e.preventDefault();
                }
            });

            
        })
        function validate() {
            let ret = true;
            $("input.error").each(function(){
                $(this).tooltip({ boundary: 'window' });
                ret = false;
            });
            return ret;
        }
    </script>
</html>