<!doctype html>
<html lang="pt">
  <head>
    <% include ../partials/head %>

    <style>
      .table > tbody > tr > th {
        border: 0px;
        border-right: 3px solid;
        text-align: right;
      }
      .table > tbody > tr > td {
        font-size: initial;
        border: 0;
        text-align: left;
      }
      .table > tfoot > tr > td {
        font-size: initial;
        border: 0;
        text-align: center;
      }
      .table > tbody > tr > td, .table > tbody > tr > th {
        line-height: 30px;
        vertical-align: middle;
      }
    </style>
  </head>
  <body>
  
    <header>
      <% include ../partials/header %>
    </header>

    <main class="container">

	    <!-- FIRST ROW OF BLOCKS -->     
      <div class="row">

        <!-- USER PROFILE BLOCK -->
        <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <dtitle>Clientes</dtitle>
            <br>
            <hr>
            <h2><%= (locals.clients) ? clients : 0 %></h2>
            <h3>cadastrados</h3>
            <br>
            <div class="info-user">
              <a href="/clients" >
                <span aria-hidden="true" class="li_settings fs1"></span>
              </a>
            </div>
          </div>
        </div>

        <!-- EMAILS LIDOS -->     
        <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <dtitle>Custódias recebidas</dtitle>
            <hr>
            <div class="cont">
              <table class="table">
                <tbody>
                  <tr>
                    <th><bold><%= (locals.emails) ? emails : 0 %></bold></th>
                    <td>Lidas</td>
                  </tr>
                  <tr>
                    <th><bold><%= (locals.emailsResolvidos) ? emailsResolvidos : 0 %></bold></th>
                    <td><ok>Resolvidas</ok></td>
                  </tr>
                  <tr>
                    <th><bold><%= (locals.emailsEmAberto) ? emailsEmAberto : 0 %></bold></th>
                    <td><bad>Em Aberto</bad></td>
                  </tr>
                </tbody>
                <tfoot>
                  <tr>
                    <td colspan="2">Total de <%= (locals.emails) ? Math.round(emailsResolvidos*100/emails) : 0 %>% de efetividade.</td>
                  </tr>
                </tfoot>
              </table>
            </div>
          </div>
        </div>

        <!-- CLIENTES COM MAIS REMESSAS -- >
        <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <dtitle>TOP 3 - Maior fluxo</dtitle>
            <hr>
            <div class="cont">
              <table class="table">
                <tbody>
                  <tr>
                    <th><bold>879</bold></th>
                    <td><ok>Bonifácio</ok></td>
                  </tr>
                  <tr>
                    <th><bold>1035</bold></th>
                    <td><ok>Lojas</ok></td>
                  </tr>
                  <tr>
                    <th><bold>1035</bold></th>
                    <td>Mercado</td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

        <!- - CLIENTES COM MENOS REMESSAS - ->     
        <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <dtitle>TOP 3 - Menor fluxo</dtitle>
            <hr>
            <div class="cont">
              <table class="table">
                <tbody>
                  <tr>
                    <th><bold>879</bold></th>
                    <td>Bonifácio</td>
                  </tr>
                  <tr>
                    <th><bold>1035</bold></th>
                    <td><bad>Lojas</bad></td>
                  </tr>
                  <tr>
                    <th><bold>1035</bold></th>
                    <td><bad>Mercado</bad></td>
                  </tr>
                </tbody>
              </table>
            </div>
          </div>
        </div>

      </div>
      <!- - close row - ->
      
	    <!- - SECOND ROW OF BLOCKS - ->     
      <div class="row"> -->

        <!-- SWITCHES BLOCK -->
        <div class="col-sm-3 col-lg-3">
          <div class="dash-unit">
            <dtitle>Serviços</dtitle>
            <hr>
            <div class="info-user">
              <span aria-hidden="true" class="li_params fs2"></span>
            </div>
            <br>
            <div class="switch">
              <input type="radio" class="switch-input" name="view" value="on" id="on" checked="">
              <label for="on" class="switch-label switch-label-off">Ler</label>
              <input type="radio" class="switch-input" name="view" value="off" id="off">
              <label for="off" class="switch-label switch-label-on">Off</label>
              <span class="switch-selection"></span>
            </div>
            <div class="switch switch-blue">
              <input type="radio" class="switch-input" name="view2" value="week2" id="week2" checked="">
              <label for="week2" class="switch-label switch-label-off">Enviar</label>
              <input type="radio" class="switch-input" name="view2" value="month2" id="month2">
              <label for="month2" class="switch-label switch-label-on">Off</label>
              <span class="switch-selection"></span>
            </div>
          </div>
        </div>

      </div>
      <!-- close row -->
      
    </main>

    <footer>
      <% include ../partials/footer %>
    </footer>

  </body>
</html>