<!doctype html>
<html lang="pt">
	<head>
		<% include ../../partials/head %>

		<style>
			@media (min-width: 1500px) {
				.container {
					width: 1500px;
					zoom: 1;
				}
			}
		</style>
	</head>
	<body>
  
	<header>
		<% include ../../partials/header %>
	  
		<script>
			$(document).ready(function(){
				$("#inlineCheckbox1").prop('checked', false);
				$("#inlineCheckbox1").prop('disabled', true);
				$("#inlineCheckbox2").prop('checked', false);
				
				$("#inlineCheckbox2").on('click', function(){
					if ($(this).prop('checked')) $("#inlineCheckbox1").prop('disabled', false);
					else {
						$("#inlineCheckbox1").prop('checked', false);
						$("#inlineCheckbox1").prop('disabled', true);
					}
				})
			});
		</script>
    </header>

    <main class="container">

        <div class="row">
        	<div class="col-sm-4 col-lg-4"></div>
        	<div class="col-sm-4 col-lg-4">
        		<div id="register-wraper" >
					<form id="register-form" class="form" action="/import" method="post" enctype="multipart/form-data">
        		        <legend>Inserir remessas</legend>
        		    
        		        <div class="body form-group">
        		        	<!-- example list -->
        		        	<label>Planilha de exemplo</label><br>
							<a href="files/exemplo_lista_remessas.xls" target="_blank">Baixar planilha de exemplo</a>
							<br>
							<hr>
        		        	<!-- clients list -->
							<label for="remessaslist">Lista de remessas</label>
							<input type="file" class="form-control-file" name="remessaslist" id="remessaslist">
							<br>
        		        </div>
        		    
        		        <div class="footer">
        		            <button type="submit" class="btn btn-success">Atualizar</button>
        		        </div>
					</form>
					<% if(locals.status_result) { %>
						<br>
						<hr>
						<p>
							<% if(status_result == 1) { %>
								<label style="color:green"><ok><%= message %></ok></label>
							<% } else if (status_result == 2) { %>
								<label style="color:red"><bad><%= message %></bad></label>
							<% } %>
						</p>
					<% } %>
        		</div>
			</div>
        	<div class="col-sm-4 col-lg-4"></div>
        </div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="alertaModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="alertaModal">Aviso</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p></p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-primary" data-dismiss="modal">Ok</button>
					</div>
				</div>
			</div>
		</div>

    </main>

	<footer>

    <% include ../../partials/footer %>
    </footer>

    </body>
</html>