<!doctype html>
<html lang="pt">
	<head>
		<% include ../../partials/head %>

		<style>
			@media (min-width: 1500px) {
				.container {
					width: 1500px;
					zoom: 1;
				}
            }
            input.error {
                border: 1px solid red;
            }
		</style>
	</head>
	<body>
  
	<header>
		<% include ../../partials/header %>
	  
		<script>
			$(document).ready(function(){
				$("#inlineCheckbox1").prop('checked', false);
				$("#inlineCheckbox1").prop('disabled', true);
				$("#inlineCheckbox2").prop('checked', false);
				
				$("#inlineCheckbox2").on('click', function(){
					if ($(this).prop('checked')) $("#inlineCheckbox1").prop('disabled', false);
					else {
						$("#inlineCheckbox1").prop('checked', false);
						$("#inlineCheckbox1").prop('disabled', true);
					}
				})
			});
		</script>
    </header>
    
    <main class="container">
        
        <div class="row">
            <div class="col-lg-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/cep">CEPs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Cadastrar Cep</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="border-radius: 4px;">
        		<div id="register-wraper" >
                    <div class="cont2">
                        <h2>Cadastrar</h2>
                    </div>
                    <br>
                    <div class="row" style="overflow: auto;width: 100%;">
                        <div class="col-lg-12">
                            <div class="cont3">
                                <form id="register-form" class="form" action="/cep/create" method="post" enctype="multipart/form-data">
                                    <legend>Novo Cep</legend>
                                
                                    <div class="body form-group">
                                        <label for="name">CEP Mínimo</label><br>
                                        <input type="number" name="min" id="min" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" max="99999998" value="">
                                        <label for="cnpj">CEP Máximo</label><br>
                                        <input type="number" name="max" id="max" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" max="99999999" value="">
                                        <label for="email">Prazo</label><br>
                                        <input type="number" name="deadline" id="deadline" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" min="1" max="99" value="">
                                        <label for="token">Unidade</label><br>
                                        <select name="unity" id="unity" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório">
                                            <% unities.forEach(function(unity) { %>
                                                <option value="<%= unity.name %>"><%= unity.name %></option>
                                            <% }) %>
                                        </select>
                                        <label for="token">Local</label><br>
                                        <input type="text" name="local" id="local" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" value="">
                                        <label for="token">UF</label><br>
                                        <select name="uf" id="uf" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório">
                                            <option value="AC">AC</option>
                                            <option value="AL">AL</option>
                                            <option value="AP">AP</option>
                                            <option value="AM">AM</option>
                                            <option value="BA">BA</option>
                                            <option value="CE">CE</option>
                                            <option value="DF">DF</option>
                                            <option value="ES">ES</option>
                                            <option value="GO">GO</option>
                                            <option value="MA">MA</option>
                                            <option value="MT">MT</option>
                                            <option value="MS">MS</option>
                                            <option value="MG">MG</option>
                                            <option value="PA">PA</option>
                                            <option value="PB">PB</option>
                                            <option value="PR">PR</option>
                                            <option value="PE">PE</option>
                                            <option value="PI">PI</option>
                                            <option value="RJ">RJ</option>
                                            <option value="RN">RN</option>
                                            <option value="RS">RS</option>
                                            <option value="RO">RO</option>
                                            <option value="RR">RR</option>
                                            <option value="SC">SC</option>
                                            <option value="SP">SP</option>
                                            <option value="SE">SE</option>
                                            <option value="TO">TO</option>
                                        </select>
                                        <br>
                                    </div>
                                
                                    <div class="footer">
                                        <button type="submit" class="btn btn-success">Cadastrar</button>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div><!-- /inner row -->
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </main>

	<footer>

    <% include ../../partials/footer %>
    </footer>

    </body>
    <script>
        $(document).ready(function(){
            $(".form").submit(function(e){
                if ($("#min").val() == "") $("#min").addClass("error"); else $("#min").removeClass("error");
                if ($("#max").val() == "") $("#max").addClass("error"); else $("#max").removeClass("error");
                if ($("#deadline").val() == "") $("#deadline").addClass("error"); else $("#deadline").removeClass("error");
                if ($("#local").val() == "") $("#local").addClass("error"); else $("#local").removeClass("error");
                
                if (!validate()) {
                    e.preventDefault();
                }
            });

            
        })
        function validate() {
            let ret = true;
            $("input.error").each(function(){
                $(this).tooltip({ boundary: 'window' });
                ret = false;
            });
            return ret;
        }
    </script>
</html>