<!doctype html>
<html lang="pt">
	<head>
		<% include ../../partials/head %>

		<style>
			@media (min-width: 1500px) {
				.container {
					width: 1500px;
					zoom: 1;
				}
			}
            input.error {
                border: 1px solid red;
            }
		</style>
	</head>
	<body>
  
	<header>
		<% include ../../partials/header %>
	  
		<script>
			$(document).ready(function(){
				$("#inlineCheckbox1").prop('checked', false);
				$("#inlineCheckbox1").prop('disabled', true);
				$("#inlineCheckbox2").prop('checked', false);
				
				$("#inlineCheckbox2").on('click', function(){
					if ($(this).prop('checked')) $("#inlineCheckbox1").prop('disabled', false);
					else {
						$("#inlineCheckbox1").prop('checked', false);
						$("#inlineCheckbox1").prop('disabled', true);
					}
				})
			});
		</script>
    </header>
    
    <main class="container">
        
        <div class="row">
            <div class="col-lg-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item"><a href="/cep">CEPs</a></li>
                        <li class="breadcrumb-item active" aria-current="page">Editar CEP</li>
                    </ol>
                </nav>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-4"></div>
            <div class="col-lg-4" style="border-radius: 4px;">
        		<div id="register-wraper" >
                    <div class="cont2">
                        <h2>Editar CEP</h2>
                    </div>
                    <br>
                    <div class="row" style="max-height: 500px;overflow: auto;width: 100%;">
                        <div class="col-lg-12">
                            <div class="cont3">
                                <form id="register-form" class="form" action="/cep/<%= cep._id %>/edit" method="post" enctype="multipart/form-data">
                                    <legend>Atualizar CEPs</legend>
                                
                                    <div class="body form-group">
                                        <label for="name">CEP Mínimo</label><br>
                                        <input type="number" name="min" id="min" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" value="<%= cep.min %>">
                                        <label for="cnpj">CEP Máximo</label><br>
                                        <input type="number" name="max" id="max" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" value="<%= cep.max %>">
                                        <label for="email">Prazo</label><br>
                                        <input type="text" name="deadline" id="deadline" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" value="<%= cep.deadline %>">
                                        <label for="token">Unidade</label><br>
                                        <select name="unity" id="unity" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório">
                                            <% unities.forEach(function(unity) { %>
                                                <option value="<%= unity.name %>" <%= (unity.name == cep.unity) ? 'selected' : '' %> ><%= unity.name %></option>
                                            <% }) %>
                                        </select>
                                        <label for="token">Local</label><br>
                                        <input type="text" name="local" id="local" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório" value="<%= cep.local %>">
                                        <label for="token">UF</label><br>
                                        <select name="uf" id="uf" class="form-control" data-toggle="tooltip" data-placement="top" title="Campo obrigatório">
                                            <option value="AC" <%= ("AC" == cep.uf) ? 'selected' : '' %> >AC</option>
                                            <option value="AL" <%= ("AL" == cep.uf) ? 'selected' : '' %> >AL</option>
                                            <option value="AP" <%= ("AP" == cep.uf) ? 'selected' : '' %> >AP</option>
                                            <option value="AM" <%= ("AM" == cep.uf) ? 'selected' : '' %> >AM</option>
                                            <option value="BA" <%= ("BA" == cep.uf) ? 'selected' : '' %> >BA</option>
                                            <option value="CE" <%= ("CE" == cep.uf) ? 'selected' : '' %> >CE</option>
                                            <option value="DF" <%= ("DF" == cep.uf) ? 'selected' : '' %> >DF</option>
                                            <option value="ES" <%= ("ES" == cep.uf) ? 'selected' : '' %> >ES</option>
                                            <option value="GO" <%= ("GO" == cep.uf) ? 'selected' : '' %> >GO</option>
                                            <option value="MA" <%= ("MA" == cep.uf) ? 'selected' : '' %> >MA</option>
                                            <option value="MT" <%= ("MT" == cep.uf) ? 'selected' : '' %> >MT</option>
                                            <option value="MS" <%= ("MS" == cep.uf) ? 'selected' : '' %> >MS</option>
                                            <option value="MG" <%= ("MG" == cep.uf) ? 'selected' : '' %> >MG</option>
                                            <option value="PA" <%= ("PA" == cep.uf) ? 'selected' : '' %> >PA</option>
                                            <option value="PB" <%= ("PB" == cep.uf) ? 'selected' : '' %> >PB</option>
                                            <option value="PR" <%= ("PR" == cep.uf) ? 'selected' : '' %> >PR</option>
                                            <option value="PE" <%= ("PE" == cep.uf) ? 'selected' : '' %> >PE</option>
                                            <option value="PI" <%= ("PI" == cep.uf) ? 'selected' : '' %> >PI</option>
                                            <option value="RJ" <%= ("RJ" == cep.uf) ? 'selected' : '' %> >RJ</option>
                                            <option value="RN" <%= ("RN" == cep.uf) ? 'selected' : '' %> >RN</option>
                                            <option value="RS" <%= ("RS" == cep.uf) ? 'selected' : '' %> >RS</option>
                                            <option value="RO" <%= ("RO" == cep.uf) ? 'selected' : '' %> >RO</option>
                                            <option value="RR" <%= ("RR" == cep.uf) ? 'selected' : '' %> >RR</option>
                                            <option value="SC" <%= ("SC" == cep.uf) ? 'selected' : '' %> >SC</option>
                                            <option value="SP" <%= ("SP" == cep.uf) ? 'selected' : '' %> >SP</option>
                                            <option value="SE" <%= ("SE" == cep.uf) ? 'selected' : '' %> >SE</option>
                                            <option value="TO" <%= ("TO" == cep.uf) ? 'selected' : '' %> >TO</option>
                                        </select>
                                        <br>
                                    </div>
                                
                                    <div class="footer">
                                        <button type="submit" class="btn btn-success">Atualizar</button>
                                    </div>
                                </form>
                            </div>
                            <% if (locals.is_update && is_update.isset) { %>
                                <hr>
                                <p>
                                <% if (is_update.success == 'true') { %>
                                    <label style="color:green"><ok>CEP salvo com sucesso.</ok></label>
                                <% } else { %>
                                    <label style="color:red"><bad>Erro ao salvar CEP no sistema.</bad></label>
                                <% } %>
                                </p>
                            <% } %>
                        </div>
                    </div><!-- /inner row -->
                </div>
            </div>
            <div class="col-lg-4"></div>
        </div>

    </main>

	<footer>

    <% include ../../partials/footer %>
    </footer>

    </body>
    <script>
        $(document).ready(function(){
            $(".form").submit(function(e){
                if ($("#min").val() == "") $("#min").addClass("error"); else $("#min").removeClass("error");
                if ($("#max").val() == "") $("#max").addClass("error"); else $("#max").removeClass("error");
                if ($("#deadline").val() == "") $("#deadline").addClass("error"); else $("#deadline").removeClass("error");
                if ($("#local").val() == "") $("#local").addClass("error"); else $("#local").removeClass("error");
                
                if (!validate()) {
                    e.preventDefault();
                }
            });

            
        })
        function validate() {
            let ret = true;
            $("input.error").each(function(){
                $(this).tooltip({ boundary: 'window' });
                ret = false;
            });
            return ret;
        }
    </script>
</html>