<!doctype html>
<html lang="pt">
	<head>
		<% include ../../partials/head %>

		<style>
			@media (min-width: 1500px) {
				.container {
					width: 1500px;
					zoom: 1;
				}
			}
		</style>
	</head>
	<body>
  
	<header>
		<% include ../../partials/header %>
	  
		<script>
			$(document).ready(function(){
				$("#inlineCheckbox1").prop('checked', false);
				$("#inlineCheckbox1").prop('disabled', true);
				$("#inlineCheckbox2").prop('checked', false);
				
				$("#inlineCheckbox2").on('click', function(){
					if ($(this).prop('checked')) $("#inlineCheckbox1").prop('disabled', false);
					else {
						$("#inlineCheckbox1").prop('checked', false);
						$("#inlineCheckbox1").prop('disabled', true);
					}
				})
			});
		</script>
    </header>

    <main class="container">
		<div class="row">
            <div class="col-lg-4">
                <nav aria-label="breadcrumb">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="/">Home</a></li>
                        <li class="breadcrumb-item active" aria-current="page">CEP</li>
                    </ol>
                </nav>
            </div>
		</div>
		
		<% if(locals.status_result) { %>
			<div class="row">
				<div class="col-lg-4">
					<div class="alert alert-info" role="alert">
						<% if(status_result == 1) { %>
							<label style="color:green"><ok><%= message %></ok></label>
						<% } else if (status_result == 2) { %>
							<label style="color:red"><bad><%= message %></bad></label>
						<% } %>
						<button type="button" class="close" data-dismiss="alert" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
				</div>
			</div>
		<% } %>


        <div class="row">
        	<div class="col-sm-8 col-lg-8">
        		<div class="register-info-wraper">
        			<div id="register-info">
        				<div class="cont2">
							<h2>Lista de CEPs cadastrados</h2>
						</div>
						<br>
						
						<div class="row">
							<div class="col-lg-4">
								<div class="cont3">
									<a href="/cep/create" title="Cadastrar novo cep">Cadastrar</a>
								</div>
							</div>
						</div>
        				<div class="row" style="max-height: 500px;overflow: auto;width: 100%;">
        					<div class="col-lg-12">
        						<div class="cont3">
        							<table class="table ">
										<thead>
											<tr>
												<th>CEP Mínimo</th>
												<th>CEP Máximo</th>
												<th>Prazo</th>
												<th>Unidade</th>
												<th>Local</th>
												<th>UF</th>
												<th>Ação</th>
											</tr>
										</thead>
										<tbody>
											<% for (var i=0; i<cep.length; i++) { %>
												<tr>
													<td><%= cep[i].min %></td>
													<td><%= cep[i].max %></td>
													<td><%= cep[i].deadline %></td>
													<td><%= cep[i].unity %></td>
													<td><%= cep[i].local %></td>
													<td><%= cep[i].uf %></td>
													<td>
														<a href="cep/<%= cep[i]._id %>/edit" title="Editar o cep <%= cep[i].name %>">Editar</a> | 
														<a href="#" id="<%= cep[i]._id %>" class="remove" title="Excluir o cep <%= cep[i].name %>">Excluir</a>
													</td>
												</tr>
											<% } %>
										</tbody>
									</table>
        						</div>
        					</div>
        				</div><!-- /inner row -->
						<br>
						<hr>
						<br>
						<!-- <div class="cont2">
							<h2>Exportar lista em Excel</h2>
						</div>
						<br>
						<div class="info-user2">
							<a href="files/lista_cep.xls" target="_blank">
								<span aria-hidden="true" class="li_clip fs1"></span> Exportar
							</a>
						</div> -->
        			</div>
        		</div>

        	</div>

        	<div class="col-sm-4 col-lg-4">
        		<div id="register-wraper" >
					<form id="register-form" class="form" action="/cep" method="post" enctype="multipart/form-data">
        		        <legend>Atualizar CEPs</legend>
        		    
        		        <div class="body form-group">
        		        	<!-- example list -->
        		        	<label>Planilha de exemplo</label><br>
							<a href="files/exemplo_lista_ceps.xls" target="_blank">Baixar planilha de exemplo</a>
							<br>
							<hr>
        		        	<!-- cep list -->
							<label for="ceplist">Lista de CEPs</label>
							<input type="file" class="form-control-file" name="ceplist" id="ceplist">
							<br>
        		        </div>
        		    
        		        <div class="footer">
        		            <label class="checkbox inline">
								<input type="checkbox" name="chk_cleanAll" id="inlineCheckbox2" > Limpar lista de CEPs antiga 
							</label>
							<label class="checkbox inline">
								<input type="checkbox" name="chk_ack" id="inlineCheckbox1" > Estou ciente que a remoção de CEPs antigos acarreterá na perda de vínculo com as remessas pendentes
							</label>
        		            <button type="submit" class="btn btn-success">Atualizar</button>
        		        </div>
					</form>
        		</div>
        	</div>
        </div>

		<!-- Modal -->
		<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="alertaModal" aria-hidden="true">
			<div class="modal-dialog" role="document">
				<div class="modal-content">
					<div class="modal-header">
						<h5 class="modal-title" id="alertaModal">Aviso</h5>
						<button type="button" class="close" data-dismiss="modal" aria-label="Close">
							<span aria-hidden="true">&times;</span>
						</button>
					</div>
					<div class="modal-body">
						<p>Tem certeza que deseja excluir este CEP?</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-danger" id="doit" data-target="#" >Excluir</button>
						<button type="button" class="btn btn-secondary" data-dismiss="modal">Cancelar</button>
					</div>
				</div>
			</div>
		</div>

    </main>

	<footer>

    <% include ../../partials/footer %>
    </footer>

    </body>
	<script>
		$(document).ready(function(){
			$(".remove").on('click', function(){
				let id = this.id;
				$('.modal #doit').click(function() {
					window.location.replace("/cep/"+ id +"/remove");
				});
				$('.modal').modal();
			})
		});
	</script>
</html>